html,body{
    margin:0;
    }

ul,li{
    margin:0;
    padding:0; 
    list-style:none;
}

h1,h2,h3,h4,h5,h6,p{
    margin:0; padding:0;
}

a{
    text-decoration:none;
    color:#555;
}

*{box-sizing:border-box;}
/* *로 시작하는건 모든태그에 명령, 다른 style값보다 더 강력, 먼저 적용*/