@import url(common_ys.css);

/*=====main=====*/
main{
    margin: 0 auto;
}





/*    banner    */

.ban{
    position:relative;
    height: 400px;
    width:100%;
    margin:0 auto;
    padding:0;
    overflow: hidden;
}

.ban figure{
    width:100%;
    height: 100%;
    display:flex;
    position: relative;
}

.ban figure a{
    width:100%;
    height: 100%;
    flex:0 0 auto;
}

.ban .slick-prev,
.ban .slick-next{
    font-size:0;
    background: none;
    border:none;
    position:absolute;
    display: none;
}

.ban figure a img{
    width:100%;
    height: 100%;
}

.ban .slick-dots{
    position:absolute;
    bottom:5%;
    left:50%;
    list-style: none;
    margin:0;
    padding:0;
}

.ban .slick-dots li{
    display: inline-block;
    margin:0 3px;
}

.ban .slick-dots li button{
    width:10px;
    height: 10px;
    border-radius: 100%;
    background:rgba(0,0,0,0.3);
    font-size: 0;
    border:none;
    padding:0;
}

.ban .slick-dots li.slick-active button{
    background:#ad74ce;
}

/*    visual*/
.visual{
    margin:70px auto;
    text-align: center;
}
.visual h2{
    font-size:3em;
}
.visual p{
    margin:10px 0;
}
.visual p:after{
    content: '';
    clear: both;
    display: block;
    width:25px;
    height: 2px;
    background:#333;
    margin:40px auto;
}

.list{}
.list li{}
.list li a{}
.list li a figure{}
.list li a figure img{
    width:100%;
}
.list li a figure figcaption{
    position: absolute;
    left:0; top:0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.4);
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .5s;
}
.list li:hover a figure figcaption{
    opacity: 1;
}







/*   service    */
.service{
    width:100%;
    margin:0px auto;
    text-align:center;
    background:#ededed;
    padding:60px 0;
}
.service h3{
    font-size:3em;
}
.service p{
    margin-top:10px;
}
.service p:after{
    content: '';
    clear: both;
    display: block;
    width:25px;
    height: 2px;
    background:#333;
    margin:40px auto;
}
.service ul{
    display: flex;
    justify-content:center;
}
.service ul li{
    margin:0 30px;
}
.service ul li a{
    color:#333;
    text-align: center;
}

.service ul li:nth-of-type(1) a:before{
    content: '';
    display: block;
    background:url('../img/icon_notice.png') 11px 0  no-repeat;
    height: 75px;
}
.service ul li:nth-of-type(2) a:before{
    content: '';
    display: block;
    background:url('../img/icon_map.png') 11px 0  no-repeat;
    height: 75px;   
}
.service ul li:nth-of-type(3) a:before{
    content: '';
    display: block;
    background:url('../img/icon_inquiry.png') 11px 0  no-repeat;
    height: 75px;   
}






/*    review    */
.review{
    margin:0 auto;
    text-align:center;
    padding:60px 0;
    width:90%;
}
.review h4{
    font-size:3em;
}
.review > p{
    margin:10px 0;
}
.review > p:after{
    content: '';
    clear: both;
    display: block;
    width:25px;
    height: 2px;
    background:#333;
    margin:40px auto;
}
.review ul{
    display: flex;
    justify-content: space-around;
}
.review ul li{
    box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.1);
    width:30%;
    border-radius: 10px;
}
.review ul li a{}
.review ul li a figure{
    width: 100%;
    position: relative;
}

.review ul li a figure img{
    width:100%;
    height: 15vw;
    border-radius: 10px 10px 0 0;
}
.review ul li a figure p{
    position: absolute;
    left:2%; top:5%;
}
.review ul li a figure p strong{
    background:url(../img/icon_heart1.png) 10px 12px no-repeat #FF6565;
    padding:10px 20px 10px 40px;
    border-radius:30px;
    color:#fff;
    
}
.review ul li a figure figcaption{
    font-size:16px;
    padding:20px;
    white-space: pre-line;
    text-align: left;
    height: 300px;
    line-height: 2;
}

.review > a{
    display: inline-block;
    margin-top:40px;
}








/*     반응형    */

@media (max-width:480px){
    
.ban{
    position:relative;
    height: 200px;
    width:100%;
    margin:0 auto;
    padding:0;
    overflow: hidden;
}
    
    
    
    /*    visual*/
.visual{
    margin:30px auto;
    text-align: center;
}
.visual h2{
    font-size:20px;
}
.visual p{
    margin:5px 0;
    font-size:12px;
}
.visual p:after{
    content: '';
    clear: both;
    display: block;
    width:25px;
    height: 2px;
    background:#333;
    margin:20px auto;
}

    
    
    


/*   service    */
.service{
    margin:0px auto;
    text-align:center;
    background:#ededed;
    padding:30px 0;
    width:100%;
}
.service h3{
    font-size:20px;
}
.service p{
    margin:5px 0;
    font-size:13px;
}
.service p:after{
    content: '';
    clear: both;
    display: block;
    width:25px;
    height: 2px;
    background:#333;
    margin:20px auto;
}
.service ul{
    display: flex;
    justify-content:center;
}
.service ul li{
    margin:0 15px;
}
.service ul li a{
    color:#333;
    font-size:13px;
    white-space: pre-line;
}
    .service ul li:nth-of-type(1) a:before{
    content: '';
    display: block;
    background:url('../img/icon_notice.png') 0  no-repeat;
    height: 75px;
        width:60px;
}
.service ul li:nth-of-type(2) a:before{
    content: '';
    display: block;
    background:url('../img/icon_map.png') 0  no-repeat;
    height: 75px;
    width:60px;
}
.service ul li:nth-of-type(3) a:before{
    content: '';
    display: block;
    background:url('../img/icon_inquiry.png') 0  no-repeat;
    height: 75px;   
    width:60px;
}







/*    review    */
.review{
    margin:0 auto;
    text-align:center;
    padding:30px 0;
}
.review h4{
    font-size:20px;
}
.review > p{
    margin:5px 0;
    font-size:13px;
}
.review > p:after{
    content: '';
    clear: both;
    display: block;
    width:25px;
    height: 2px;
    background:#333;
    margin:20px auto;
}
.review ul{
    display: block;
    margin:0 auto;
    justify-content: space-around;
}
.review ul li{
    margin: 20px 0;
    box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.1);
    width:100%;
    border-radius: 10px;
}
.review ul li a{}
.review ul li a figure{
    width: 100%;
    position: relative;
}

.review ul li a figure img{
    width:100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}
.review ul li a figure p{
    position: absolute;
    left:2%; top:0;
}
.review ul li a figure p strong{
    background:url(../img/icon_heart1.png) 6px 6px no-repeat #FF6565;
    padding:18px;
    border-radius:100%;
    color:#fff;
    font-size:0px;
    
}
.review ul li a figure figcaption{
    padding:20px;
    white-space: pre-line;
    text-align: left;
    height: 100%;
    line-height: 1.5;
    text-overflow: ellipsis;
    font-size:12px;
}

.review > a{
    display: inline-block;
    margin-top:20px;
    font-size:13px;
}
}






/*     768      */
@media (min-width:481px) and (max-width:768px){
      /*    visual*/
.visual{
    margin:40px auto;
    text-align: center;
}
.visual h2{
    font-size:30px;
}
.visual p{
    margin:5px 0;
    font-size:15px;
}
.visual p:after{
    content: '';
    clear: both;
    display: block;
    width:25px;
    height: 2px;
    background:#333;
    margin:30px auto;
}



/*   service    */
.service{
    margin:0px auto;
    text-align:center;
    background:#ededed;
    padding:30px 0;
}
.service h3{
    font-size:30px;
}
.service p{
    margin:5px 0;
    font-size:15px;
}
.service p:after{
    content: '';
    clear: both;
    display: block;
    width:25px;
    height: 2px;
    background:#333;
    margin:30px auto;
}
.service ul{
    display: flex;
    justify-content:center;
}
.service ul li{
    margin:0 30px;
}
.service ul li a{
    color:#333;
    font-size:15px;
    white-space: pre-line;
}
      .service ul li:nth-of-type(1) a:before{
    content: '';
    display: block;
    background:url('../img/icon_notice.png') 0  no-repeat;
    height: 75px;
        width:60px;
}
.service ul li:nth-of-type(2) a:before{
    content: '';
    display: block;
    background:url('../img/icon_map.png') 0  no-repeat;
    height: 75px;
    width:60px;
}
.service ul li:nth-of-type(3) a:before{
    content: '';
    display: block;
    background:url('../img/icon_inquiry.png') 0  no-repeat;
    height: 75px;   
    width:60px;
}





/*    review    */
.review{
    margin:0 auto;
    text-align:center;
    padding:30px 0;
}
.review h4{
    font-size:30px;
}
.review > p{
    margin:5px 0;
    font-size:15px;
}
.review > p:after{
    content: '';
    clear: both;
    display: block;
    width:25px;
    height: 2px;
    background:#333;
    margin:30px auto;
}
.review ul{
    display: flex;
    justify-content: space-around;
}
.review ul li{
    box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.1);
    width:30%;
    border-radius: 10px;
}
.review ul li a{}
.review ul li a figure{
    width: 100%;
    position: relative;
}

.review ul li a figure img{
    width:100%;
    height: 20vw;
    border-radius: 10px 10px 0 0;
}
.review ul li a figure p{
    position: absolute;
    left:2%; top:0;
}
.review ul li a figure p strong{
    background:url(../img/icon_heart1.png) 6px 6px no-repeat #FF6565;
    padding:18px;
    border-radius:100%;
    color:#fff;
    font-size:0px;
    
}
.review ul li a figure figcaption{
    padding:20px;
    white-space: pre-line;
    text-align: left;
    height: 30%;
    line-height: 1.2;
    text-overflow: ellipsis;
    font-size:15px;
}

.review > a{
    display: inline-block;
    margin-top:20px;
    font-size:13px;
}
}




/*     1024    */
@media (min-width:769px) and (max-width:1024px){
         /*    visual*/
.visual{
    margin:40px auto;
    text-align: center;
}
.visual h2{
    font-size:30px;
}
.visual p{
    margin:5px 0;
    font-size:15px;
}
.visual p:after{
    content: '';
    clear: both;
    display: block;
    width:25px;
    height: 2px;
    background:#333;
    margin:30px auto;
}



/*   service    */
.service{
    margin:0px auto;
    text-align:center;
    background:#ededed;
    padding:30px 0;
}
.service h3{
    font-size:30px;
}
.service p{
    margin:5px 0;
    font-size:15px;
}
.service p:after{
    content: '';
    clear: both;
    display: block;
    width:25px;
    height: 2px;
    background:#333;
    margin:30px auto;
}
.service ul{
    display: flex;
    justify-content:center;
}
.service ul li{
    margin:0 30px;
}
.service ul li a{
    color:#333;
    font-size:15px;
    white-space: pre-line;
}
      .service ul li:nth-of-type(1) a:before{
    content: '';
    display: block;
    background:url('../img/icon_notice.png') 0  no-repeat;
    height: 75px;
        width:60px;
}
.service ul li:nth-of-type(2) a:before{
    content: '';
    display: block;
    background:url('../img/icon_map.png') 0  no-repeat;
    height: 75px;
    width:60px;
}
.service ul li:nth-of-type(3) a:before{
    content: '';
    display: block;
    background:url('../img/icon_inquiry.png') 0  no-repeat;
    height: 75px;   
    width:60px;
}





/*    review    */
.review{
    margin:0 auto;
    text-align:center;
    padding:30px 0;
}
.review h4{
    font-size:30px;
}
.review > p{
    margin:5px 0;
    font-size:15px;
}
.review > p:after{
    content: '';
    clear: both;
    display: block;
    width:25px;
    height: 2px;
    background:#333;
    margin:30px auto;
}
.review ul{
    display: flex;
    justify-content: space-around;
}
.review ul li{
    box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.1);
    width:30%;
    border-radius: 10px;
}
.review ul li a{}
.review ul li a figure{
    width: 100%;
    position: relative;
}

.review ul li a figure img{
    width:100%;
    height: 20vw;
    border-radius: 10px 10px 0 0;
}
.review ul li a figure p{
    position: absolute;
    left:2%; top:0;
}
.review ul li a figure p strong{
    background:url(../img/icon_heart1.png) 6px 6px no-repeat #FF6565;
    padding:18px;
    border-radius:100%;
    color:#fff;
    font-size:0px;
    
}
.review ul li a figure figcaption{
    padding:20px;
    white-space: pre-line;
    text-align: left;
    height: 30%;
    line-height: 1.8;
    text-overflow: ellipsis;
    font-size:15px;
}

.review > a{
    display: inline-block;
    margin-top:20px;
    font-size:13px;
}
}