@import url('common_ys.css');


/**********배너**********/
.banner {
    background: url('../img/2-1.jpg') no-repeat #DABFAE;
    width: ;
    height: 150px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner h2 {
    font-size: 40px;
    color: #333;
}




main {
    margin: 0 auto;
}

/*    map    */
.map {
    margin: 40px auto;
    text-align: center;
    width: 100%;
}


/*    road    */
.road {
    margin: 0 auto;
    width: 1080px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 70px;
}

.add {}

.add li {
    font-size: 15px;
    text-align: center;
}

.add li:nth-of-type(2) {
    margin-bottom: 20px;
}

.add li:nth-of-type(1):before {
    content: '';
    display: inline-block;
    background: url('../img/icon_add.png') 0 1px no-repeat;
    height: 30px;
    width: 30px;
    vertical-align: middle;
}

.add li:nth-of-type(3):before {
    content: '';
    display: inline-block;
    background: url('../img/icon_phone.png') 0 1px no-repeat;
    height: 30px;
    width: 30px;
    vertical-align: middle;
}

.add li:nth-of-type(1),
.add li:nth-of-type(3) {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}


.subway {}

.subway li {
    margin: 5px 0;
    font-size: 15px;
}

.subway li:nth-of-type(1) {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin: 0px;
}

.subway li:nth-of-type(1):before {
    content: '';
    background: url('../img/icon_subway.png') 0 1px no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;

}

.subway li span {
    width: 100px;
    text-align: right;
    display: inline-block
}

.subway li span:nth-of-type(2) {
    text-align: left;
    margin-left: 10px;
    width: 150px;
}

.bus {}

.bus li {
    font-size: 15px;
    margin: 5px 0;
}

.bus span {
    white-space: pre-line;
    display: inline-block;
    vertical-align: top;
    width: 140px;
    text-align: right;
}

.bus li:nth-of-type(1) {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin: 0px;
}

.bus li:nth-of-type(1):before {
    content: '';
    background: url('../img/icon_bus.png') 0 1px no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
}

.bus li span:nth-of-type(2) {
    text-align: left;
    margin-left: 10px;
    width: 180px;
}






@media (max-width:480px) {
    .banner {
        background: #DABFAE;
        width: 100%;
        height: 60px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .banner h2 {
        font-size: 20px;
        color: #333;
    }



    /*    map    */
    .map {
        margin: 30px auto;
        text-align: center;
        width: 100%;
        padding: 10px;
    }

    .map iframe {
        width: 100%;
    }


    /*    road    */
    .road {
        margin: 0 auto;
        width: 100%;
        display: block;
        justify-content: center;
        margin-bottom: 30px;
    }

    /*    add    */
    .add li {
        font-size: 13px;
        text-align: center;
    }

    .add li:nth-of-type(2) {
        margin-bottom: 20px;
    }


    .add li:nth-of-type(1),
    .add li:nth-of-type(3) {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 0px;
    }


    .subway {
        margin: 20px 0;
    }

    .subway li {
        margin: 5px 0;
        font-size: 13px;
        text-align: center;
    }

    .subway li:nth-of-type(1) {
        font-size: 18px;
        text-align: center;
        font-weight: bold;
        margin: 0px;
    }

    .bus li {
        font-size: 13px;
        margin: 5px 0;
        text-align: center;
    }


    .bus li:nth-of-type(1) {
        font-size: 18px;
        text-align: center;
        font-weight: bold;
        margin: 0px;
    }

}





@media (min-width:481px) and (max-width:768px) {
    .banner {
        background: #DABFAE;
        width: 100%;
        height: 60px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .banner h2 {
        font-size: 30px;
        color: #333;
    }


    /*    map    */
    .map {
        padding: 10px;
        margin: 20px auto;
        text-align: center;
        width: 100%;
    }

    .map iframe {
        width: 100%;
    }

    /*    road    */
    .road {
        padding: 10px;
        margin: 0 auto;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 70px;
    }

    .add {
        width: 30%;
    }

    .add li:nth-of-type(1),
    .add li:nth-of-type(3) {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 5px;
    }


    .subway {
        width: 30%;
    }

    .subway li {
        margin: 5px 0;
        font-size: 15px;
    }

    .subway li:nth-of-type(1) {
        font-size: 20px;
        text-align: center;
        font-weight: bold;
        margin: 0px;
    }

    .subway li:nth-of-type(1):before {
        content: '';
        background: url('../img/icon_subway.png') 0 1px no-repeat;
        width: 30px;
        height: 30px;
        display: inline-block;
        vertical-align: middle;

    }

    .subway li span {
        width: 100%;
        text-align: center;
        display: inline-block
    }

    .subway li span:nth-of-type(1) {
        font-weight: bold;
    }

    .subway li span:nth-of-type(2) {
        text-align: center;
        margin-left: 0px;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .bus {
        width: 30%;
    }

    .bus li {
        font-size: 15px;
        margin: 5px 0;
    }

    .bus span {
        white-space: pre-line;
        display: inline-block;
        vertical-align: top;
        width: 100%;
        text-align: center;
    }

    .bus li:nth-of-type(1) {
        font-size: 18px;
        text-align: center;
        font-weight: bold;
        margin: 0px;
    }

    .bus li:nth-of-type(1):before {
        content: '';
        background: url('../img/icon_bus.png') 0 1px no-repeat;
        width: 30px;
        height: 30px;
        display: inline-block;
        vertical-align: middle;
    }

    .bus li span:nth-of-type(1) {
        font-weight: bold;
    }

    .bus li span:nth-of-type(2) {
        text-align: center;
        margin-left: 0px;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 10px;
    }

}




@media (min-width:769px) and (max-width:1024px) {
    .road {
        padding: 10px;
        margin: 0 auto;
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-bottom: 70px;
    }
}
