@import url('common.css');


header{}
header > div{
    width:1170px;
    margin:70px auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
header div h1{}
header div ha a{}

header div nav{}
header div nav ul{}
header div nav ul li{
    display:inline-block;
   
    vertical-align: top;
    position:relative;
}
header div nav ul li > a{
    padding:20px;
    display: inline-block;
    
}

header div nav ul li div{
    border:1px solid #979696;
    border-bottom: none;
    position:absolute;
    left:0; top:120%;
    width:100%;
    background:rgba(255,255,255,0.6);
    opacity: 0;
    transition: .5s;
}
header div nav ul li:hover div{
    opacity: 1; top:98%;
}
header div nav ul li div a{
    display:block;
    border-bottom:1px solid #979696;
    padding:10px;
}

.menu-trigger,
.menu-trigger span {
	display: inline-block;
	transition: all .4s;
	box-sizing: border-box;
}

.menu-trigger {
	position: relative;
	width: 30px;
	height: 26px;
/*    transform: scale(.6)*/
}

.menu-trigger span {
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #000;
	border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
	top: 0;
}

.menu-trigger span:nth-of-type(2) {
/*	top: 20px;*/
    top:50%;
    transform:translateY(-50%);
    width:70%;
}

.menu-trigger span:nth-of-type(3) {
	bottom: 0;
    width:90%;
}



/*-------main---------*/


main{}
.spot{
    width:100%;
    height:750px;
    background:url('../img/img1.jpg') no-repeat;
}
.spot article{
    width:900px;
    background:#fff;
    margin:0 auto;
    padding:50px 60px;
    position:relative;
    top:30%; 
    box-shadow: 0 0 30px rgba(0,0,0,0.4);
}
.spot article h2{}
.spot article h2 span{
    float:right;
    font-size:0;
}
.spot article h2 span a{
    width:15px;
    height:15px;
    background:url('../img/icon.png') 0 0 no-repeat;
    display:inline-block;
    font-size:0;
    margin:0 5px;
}
.spot article h2 sapn a:nth-of-type(1){
    background-position: 3px 0;
}
.spot article h2 span a:nth-of-type(2){
    background-position:-33px 0;
}
.spot article h2 span a:nth-of-type(3){
    background-position:-70px 0;
}

.spot article figure{
    margin:0px;
}
.spot article figure p{
    margin-top:100px;
}
.spot article figure p img{width:100%;}

.spot article figure figcaption{
    white-space: pre-line;
}
.spot article figure figcaption strong{}
.spot article figure figcaption a{}
.spot article figure figcaption a mark{
    background:#fed38e;
}















