@import url(common.css);


header{
    position: absolute;
    left:0; top:0;
    width:100%;
    padding:80px 0;
    z-index: 10;
}
header > div{
    width:1600px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1{}
header h1 a{}
header h1 a img{}

header > div div > a{
    color:#dbdeb5;
    position: relative;
    display: inline-block;
}
header > div div > a:after{
    content:''; 
    position: absolute;
    right:-10px; top:50%;
    transform: translateY(-30%);
    
    width:0; height: 0;
    border:3px solid transparent;
    border-top:5px solid #dbdeb5;
}
header > div div{
    position: relative;
}
header > div div ul{
    display: none;
    position: absolute;
    background:#fff;
    padding:0 10px 10px 10px;
}
header > div div ul li{
    
}
header > div div ul li a{
    font-size: .6em;
    display: inline-block;
    padding:8px 0 0 0;
}
header > div div li a:hover{
    text-decoration: underline;
}
header > div div:hover ul{
    display:block;
}


.menu_triger{
    position:relative;
    width:26px;
    height:16px;
}
.menu_triger span{
    position:absolute;
    width:100%;
    height:2px;
    background:#fff;
} 
.menu_triger span:nth-of-type(1){
    top:0; 
}
.menu_triger span:nth-of-type(2){
    top:50%; transform: translateY(-50%);
}
.menu_triger span:nth-of-type(3){
    bottom:0;
}



/*======main=======*/


.visual{
     width:1900px;
    margin:0 auto;
    position: relative;
}


.slide{}
.slide figure{}
.slide figure p{}
.slide figure p img{
    width:100%;
}
.slide figure figcaption{
    position: absolute;
    top:404px; left:687px;
    text-align: center;
}
.slide figure figcaption strong{
    display: block;
    font-size:4em;
    text-transform: uppercase;
    margin-bottom:60px;
    color:#dbdeb5;
}
.slide figure figcaption a{
    border:1px solid #fff;
    padding: 32px 50px;
    color:#fff;
    margin:60px;
}


.indi{
    position: absolute;
    left:342px;
    top:277px; left:330px;
}
.indi strong{
    display: block;
    color:#dbdeb5;
    font-size: 59px;
    transform: rotate(90deg);
    margin-bottom: 58px;
}
.indi p{
    text-align: center;
}
.indi img{}


.ic_scroll{
    font-size: 0;
    background: url('../img/icon_scroll.png') 0 0 no-repeat;
    width:13px;
    height: 37px;
    position: absolute;
    top:854px; left:944px;
}


.sns{
    position: absolute;
    right:150px;
    top: 600px;
}
.sns a{
    display: block;
    transform: rotate(90deg);
    transform-origin: left bottom;
    margin-bottom: 70px;
    color:rgba(255,255,255,0.6);
}



.main1{
    width:1800px;
    margin:300px auto;
}
.main1 figure{
    height: 701px;
    display:flex;
    justify-content: space-between;
    align-content: center;
    margin:0;
}

.main1 figure img{
    width:900px;
   
}
.main1 figure figcaption{
    text-align: right;
    padding:100px 0; 
    white-space: pre-wrap;
    width:900px;
    color:#555;
    line-height: 2;
    text-transform: uppercase;
}
.main1 figure figcaption strong{
    text-transform: uppercase;
    font-size:60px;
    color:#222;
}
.main1 figure figcaption a{
    text-decoration: underline;
    color:#000;
    text-transform: uppercase;
}



.main1 figure:nth-of-type(even) figcaption{
    text-align:left;
    order:1;
}
.main1 figure:nth-of-type(even) img{
    order:2;
}




.main2{
    width:1900px;
    margin:0 auto;
    text-align: center;
}
.main2 article{
    text-transform: uppercase;
}
.main2 article h2{}
.main2 article h2:after{
    content:'';
    display: block;
    width:78px;
    height: 5px;
    background: #000;
    margin:50px auto;
}
.main2 article p{
    white-space: pre-line;
    margin-bottom: 110px;
    line-height: 1.8;
    color:#555;
}
.main2 article figure{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    white-space: pre-line;
}

.main2 article figure figcaption{
    
}

.main2 article figure figcaption img{
    width:439px;
    height: 439px;
    margin-bottom: 83px;
    border-radius: 300px;
    transition: .5s;
}

.main2 article figure figcaption:hover img{
    border-radius: 0px;
}


footer{
    text-align: center;
    padding:50px 0;
    background:#404040;
    margin-top:100px;
    color:#b4bbcb;
}























