@import url(common.css);

header {}

header article {
    width: 90%;
    margin: 0 auto;
    padding: 40px;
    position: relative;
}

header article h1 {
    text-align: center;
}

header article h1 a {}

header article h1 a img {}

header article ul {
    position: absolute;
    right: 20px;
    top: 30px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}

header article ul li {
    padding: 0 10px;
}

header article ul li a {
    color: #333;
}

header nav {
    background: #333;
    padding: 20px;
    margin: 0 auto;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li {
    padding: 0 70px;
}

header nav ul li a {
    color: #fff;
    position: relative;
}

header nav ul li a:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -10px;
    opacity: 0;
    transition: 1s;
}

header nav ul li:hover a:after {
    opacity: 1;
}


/*=====main====*/


/*====footer====*/
footer {
    background: #333;
    padding: 40px;
    /*    margin-top:70px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    font-size: 12px;
    line-height: 1.5;
    white-space: pre-line;
    color: #777;
}

footer ul {
    display: flex;
}

footer ul li {
    padding: 0 10px;
}

footer ul li a {}

footer ul li a img {}
