@import url(common_ys.css);



.banner {
    width: 100%;
    height: 150px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.banner h2 {
    font-size:40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #333;
}

.banner img {
    width: 100%;
}


/*===================================*/
.main {
    width: 1080px;
    margin: 80px auto;
}

.main .m1 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    height: 20vw;
}

.main .m1 img {
    width: 45%;
    border-radius: 10px;
}

.main .m1 article {
    width: 50%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 55px;
    text-align: left;

}

.main .m1 article h2 {
    white-space: pre-line; 
    font-size: 25px;
}

.main .m1 article h2 small {
font-size: 16px;
}

.main .m1 article p {
    padding-top: 15px;
    line-height: 1.8;
    white-space: pre-line;
      font-size: 15px;

}
.main .m1 article p strong{
    margin-top:15px;
    display: inline-block;
}

.main .m2 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    height: 20vw;
}

.main .m2 p {
    width: 50%;
    text-align: right;
    white-space: pre-line;
    line-height: 1.8;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    padding-right: 55px;
    font-size: 15px;
}

.main .m2 img {
    border-radius: 10px;
    width: 45%;
}

.main .m3 {
    display: flex;
    justify-content: center;
    height: 20vw;
}

.main .m3 img {
    width: 45%;
    height: 100%;
    border-radius: 10px;

}

.main .m3 p {
    width: 50%;
    text-align: left;
    white-space: pre-line;
    line-height: 1.8;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    padding-left: 55px;
      font-size: 15px;
}

