@import url(common_ys.css);

main {
    margin: 0 auto;
    width: 1080px;
}

.member {
    display: flex;
    height: 100%;
}

.menu {
    background: #ededed;
    padding: 50px 0px;
    text-align: right;
    width: 20%;
}

.menu h2 {
    font-size: 20px;
    margin-bottom: 40px;
    padding-right: 10px;
}

.menu ul {}

.menu ul li {}

.menu ul li a {
    display: block;
    font-size: 16px;
    padding: 15px 10px;
    position: relative;
    color: #666;
    transition: .7s;
}

.menu ul li a.active {
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    width: 100%;
}

.menu ul li:hover a {
    opacity: 1;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    width: 100%;
}

.cart {
    margin: 40px auto;
    padding: 0 50px;
    width: 80%;
}

.cart h3 {
    font-size: 25px;
    margin-bottom: 35px;
    text-align: center;
}

.tab {
    text-align: center;
}

.tab div {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}

.tab div label {
    font-size: 15px;
}

.tab div label input {
    display: inline-block;
    border-radius: 100%;
    background: #ededed;
}

.tab div span {}

.tab div span a {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    vertical-align: middle;
}

.cart_table {
    border-spacing: 0;
    border-radius: 10px;
    margin: 0 auto;
    width: 100%;
}

.cart_table thead {}

.cart_table thead tr {}

.cart_table thead th {
    background: #ededed;
    color: #333;
    font-size: 15px;
    padding: 12px;
}

.cart_table thead th:nth-of-type(1) {
    width: 2%;
}

.cart_table thead th:nth-of-type(2) {
    width: 20%;
}

.cart_table thead th:nth-of-type(3) {
    width: 40%;
}

.cart_table thead th:nth-of-type(4) {
    width: 8%;
}

.cart_table thead th:nth-of-type(5) {
    width: 10%;
}

.cart_table tbody {}

.cart_table tbody tr {}

.cart_table tbody td {
    border-bottom: double;
    border-color: #ededed;
    padding: 12px;
    text-align: left;
}

.cart_table tbody td img {
    width: 100px;
    border-radius: 10px;
}

.cart_table tbody td a {
    font-size: 15px;
    padding-left: 15px;
    color: #333;
}

.cart_table tbody td p {
    font-size: 15px;
}

.cart_table tbody td p input {
    border: 1px solid #ededed;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    outline: none;
    cursor: pointer;

}

.cart_table tbody td:nth-of-type(2) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart_table tbody td:nth-of-type(3) {
    text-overflow: ellipsis;
    line-height: 1.5;
}

.total {
    display: flex;
}

.total span {}

.total span:nth-of-type(1) {
    margin-left: 60%;
}

.tab > a {
    background: #AD74CE;
    padding: 10px 70px;
    border-radius: 10px;
    display: inline-block;
    margin: 40px auto;
    color: #fff;
    transition: .5s;
}

.tab > a:hover {
    background: #8953A8;
}


@media (max-width:480px) {
    .member {
        display: block;
    }

    main {
        margin: 0 auto;
        width: 100%;
    }

    .menu {
        background: none;
        padding: 0;
        text-align: left;
        width: 100%;
    }

    .menu h2 {
        font-size: 15px;
        margin-bottom: 10px;
        padding-right: 0px;
        display: none;
    }

    .menu ul {
        background: #ededed;
        display: flex;
        justify-content: space-around;
        border-radius: 0 0 10px 10px;
    }

    .menu ul li {}

    .menu ul li a {
        display: block;
        font-size: 13px;
        padding: 15px 30px;
        position: relative;
        color: #666;
        transition: .7s;
    }

    .menu ul li a.active {
        background: rgba(0, 0, 0, 0.3);
        color: #fff;
        width: 100%;
        border-radius: 0 0 10px 10px;
    }

    .menu ul li:hover a {
        opacity: 1;
        background: rgba(0, 0, 0, 0.3);
        color: #fff;
        width: 100%;
        border-radius: 0 0 10px 10px;
    }


    .cart {
        margin: 20px auto;
        padding: 0 10px;
        width: 100%;
    }

    .cart h3 {
        font-size: 20px;
        margin-bottom: 15px;
        text-align: center;
    }

    .tab {
        text-align: center;
        width: 100%;
    }
    .tab div{
        padding:2px 5px;
    }

    .tab div label {
        font-size: 12px;
    }

    .tab div span {
        font-size: 12px;
    }

    .cart_table thead th {
        background: #ededed;
        color: #333;
        font-size: 12px;
        padding: 5px;
    }

    .cart_table thead th:nth-of-type(1) {
        width: 1%;
    }

    .cart_table thead th:nth-of-type(3) {
        width: 30%;
    }
    .cart_table thead th:nth-of-type(5) {
        width: 13%;
    }

    .cart_table tbody td:nth-of-type(2) {
        text-align: center;
    }

    .cart_table tbody td a {
        font-size: 12px;
        display: block;
        padding-left: 0;
        color: #333;
    }

    .cart_table tbody td img {
        width: 50px;
        border-radius: 10px;
    }

    .cart_table tbody td:nth-of-type(2) {
        display: block;
    }

    .cart_table tbody td p {
        font-size: 12px;
    }

    .cart_table tbody td:nth-of-type(3) {
        text-overflow: ellipsis;
        line-height: 1.2;
    }

    .cart_table tbody td {
        border-bottom: double;
        border-color: #ededed;
        padding: 5px;
        text-align: left;
    }

    .total span:nth-of-type(3) {
        margin-left: 10%;
    }

    .total span:nth-of-type(1) {
        margin-left: 30%;
    }

    .tab > a {
        background: #AD74CE;
        padding: 10px 50px;
        border-radius: 10px;
        display: inline-block;
        margin: 30px auto;
        color: #fff;
        transition: .5s;
        font-size: 13px;
    }
}



@media (min-width:481px) and (max-width:768px) {
    .member {
        display: block;
    }

    main {
        margin: 0 auto;
        width: 100%;
    }

    .menu {
        background: none;
        padding: 0;
        text-align: left;
        width: 100%;
    }

    .menu h2 {
        font-size: 15px;
        margin-bottom: 10px;
        padding-right: 0px;
        display: none;
    }

    .menu ul {
        background: #ededed;
        display: flex;
        justify-content: space-around;
        border-radius: 0 0 10px 10px;
    }

    .menu ul li {}

    .menu ul li a {
        display: block;
        font-size: 15px;
        padding: 15px 90px;
        position: relative;
        color: #666;
        transition: .7s;
    }

    .menu ul li a.active {
        background: rgba(0, 0, 0, 0.3);
        color: #fff;
        width: 100%;
        border-radius: 0 0 10px 10px;
    }

    .menu ul li:hover a {
        opacity: 1;
        background: rgba(0, 0, 0, 0.3);
        color: #fff;
        width: 100%;
        border-radius: 0 0 10px 10px;
    }

    .cart {
        margin: 20px auto;
        padding: 0 20px;
        width: 100%;
    }

    .cart h3 {
        font-size: 30px;
        margin-bottom: 20px;
        text-align: center;
    }


    .cart_table tbody td a {
        font-size: 15px;
        display: block;
        padding-left: 5px;
        color: #333;
    }
     .tab > a {
        background: #AD74CE;
        padding: 10px 50px;
        border-radius: 10px;
        display: inline-block;
        margin: 30px auto;
        color: #fff;
        transition: .5s;
        font-size: 15px;
    }
}



@media (min-width:769px) and (max-width:1024px) {
    main {
        margin: 0 auto;
        width: 100%;
    }

    .menu {
        background: #ededed;
        padding: 20px 0px;
        text-align: right;
        width: 20%;
    }

    .menu h2 {
        font-size: 20px;
        margin-bottom: 30px;
        padding-right: 10px;
    }

    .menu ul li a {
        display: block;
        font-size: 15px;
        padding: 15px 10px;
        position: relative;
        color: #666;
        transition: .7s;
    }

    .cart h3 {
        font-size: 30px;
        margin-bottom: 35px;
        text-align: center;
    }
}
