@import url(common.css);

/*=====main=====*/
main{
    margin: 0 auto;
}
.ban{
    margin:0 auto;
    width:100%;
}
.ban div{
     
    height:400px;
    overflow:hidden;
}
.ban div figure{
    position:relative;
    height:100%;
}
.ban div figure a{
    width:100%;
    position:absolute;
    left:0;
}
.ban div figure a:nth-of-type(1){
    left:0;
}
.ban div figure a:nth-of-type(2){
    left:100%;
}
.ban div figure a img{
    width:100%;
    height:100%;
}

.visual{
    margin:70px auto;
    text-align: center;
}
.visual h1{
    font-size:3em;
}
.visual p{
    margin:10px 0;
}
.visual p:after{
    content: '';
    clear: both;
    display: block;
    width:25px;
    height: 2px;
    background:#333;
    margin:40px auto;
}

.list{}
.list li{}
.list li a{}
.list li a figure{}
.list li a figure img{
    width:100%;
}
.list li a figure figcaption{
    position: absolute;
    left:0; top:0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.4);
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .5s;
}
.list li:hover a figure figcaption{
    opacity: 1;
}

.service{
    margin:0px auto;
    text-align:center;
    background:#ededed;
    padding:60px 0;
}
.service h1{
    font-size:3em;
}
.service p{
    margin:10px 0;
}
.service p:after{
    content: '';
    clear: both;
    display: block;
    width:25px;
    height: 2px;
    background:#333;
    margin:40px auto;
}
.service ul{
    display: flex;
    justify-content:center;
}
.service ul li{
    margin:0 30px;
}
.service ul li a{
    color:#333;
}
.service ul li a figure{}
.service ul li a figure img{}
.service ul li a figure figcaption{
    margin-top:40px;
}

.review{
    margin:0 auto;
    text-align:center;
    padding:60px 0;
    width:90%;
}
.review h1{
    font-size:3em;
}
.review p{
    margin:10px 0;
}
.review p:after{
    content: '';
    clear: both;
    display: block;
    width:25px;
    height: 2px;
    background:#333;
    margin:40px auto;
}
.review ul{
    display:flex;
    justify-content:center;
    align-content: center;
    margin-bottom: 40px;
}
.review ul li{
    margin:0 30px;
    box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.1);
}
.review ul li a{}
.review ul li a figure{
    position:relative;
}
.review ul li a figure img{
    width:100%;
    height:15vw;
}
.review ul li a figure article{
    background:#FF6565;
    width:250px;
    border-radius:100px;
    display:flex;
    justify-content:center;
    padding:10px;
    position:absolute;
    top:13vw; left:20px;
}
.review ul li a figure article img{
    width:45px;
    height:45px;
}
.review ul li a figure article h2{
    margin-left:10px;
    color:#fff;
}
.review ul li a figure figcaption{
    background:#fff;
    line-height:2;
    white-space:pre-line;
    width:440px;
    height:400px;
    text-align:left;
    padding:50px 40px;
    font-size:15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.review a{}

/*====반응형====*/
@media (min-width:768px) and (max-width:992px){
    .ban{
    width:100%;
    position:relative;
    height:200px;
    overflow:hidden;
}
.review ul{
    display:flex;
    justify-content:center;
    align-content: center;
    margin-bottom: 40px;
}
.review ul li{
    margin:0 10px;
    box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.1);
}
.review ul li a{}
.review ul li a figure{
    position:relative;
}
.review ul li a figure img{
    width:100%;
    height:20vw;
}
.review ul li a figure article{
    background:#FF6565;
    width:150px;
    border-radius:100px;
    display:flex;
    justify-content:center;
    align-items: center;
    padding:5px;
    position:absolute;
    top:17vw; left:10px;
}
.review ul li a figure article img{
    width:30px;
    height:30px;
}
.review ul li a figure article h2{
    margin-left:10px;
    color:#fff;
    font-size:18px;
}
.review ul li a figure figcaption{
    background:#fff;
    line-height:2;
    white-space:pre-line;
    width:100%;
    height:40vw;
    text-align:left;
    padding:30px 10px;
    font-size:13px;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
}

@media (min-width:992px) and (max-width:1178px){
     .review ul{
    display:flex;
    justify-content:center;
    align-content: center;
    margin-bottom: 40px;
}
.review ul li{
    margin:0 10px;
    box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.1);
}
.review ul li a{}
.review ul li a figure{
    position:relative;
}
.review ul li a figure img{
    width:100%;
    height:20vw;
}
.review ul li a figure article{
    background:#FF6565;
    width:150px;
    border-radius:100px;
    display:flex;
    justify-content:center;
    align-items: center;
    padding:5px;
    position:absolute;
    top:18vw; left:10px;
}
.review ul li a figure article img{
    width:30px;
    height:30px;
}
.review ul li a figure article h2{
    margin-left:10px;
    color:#fff;
    font-size:20px;
}
.review ul li a figure figcaption{
    background:#fff;
    line-height:2;
    white-space:pre-line;
    width:100%;
    height:28vw;
    text-align:left;
    padding:30px 10px;
    font-size:13px;
    display: flex;
    justify-content: center;
    align-items: center;
}
}

@media (min-width:1178px){
    
}