@import url(common_ys.css);

main {
    margin: 0 auto;
    width: 1080px;
    height: 700px;
}

.member {}

.menu{display: none;}

.order {
    margin: 40px auto;
    padding: 0 50px;
    width: 80%;
}

.order h3 {
    font-size: 25px;
    margin-bottom: 35px;
    text-align: center;
}

.order_list {
    text-align: center;
}

.order_list p {
    margin-top: 100px;
    color: #666;
    font-size: 18px;
}

.order_list a {
    background: #AD74CE;
    padding: 10px 70px;
    border-radius: 10px;
    display: inline-block;
    margin: 40px auto;
    color: #fff;
    transition: .5s;
}

.order_list a:hover {
    background: #8953A8;
}




@media (max-width:480px) {
    .member {
        display: block;
    }

    main {
        margin: 0 auto;
        width: 100%;
    }

    .menu {
        display: block;
        background: none;
        padding: 0;
        text-align: left;
        width: 100%;
    }

    .menu h2 {
        font-size: 15px;
        margin-bottom: 10px;
        padding-right: 0px;
        display: none;
    }

    .menu ul {
        background: #ededed;
        display: flex;
        justify-content: space-around;
        border-radius: 0 0 10px 10px;
    }

    .menu ul li {}

    .menu ul li a {
        display: block;
        font-size: 13px;
        padding: 20px 30px;
        position: relative;
        color: #666;
        transition: .7s;
    }

    .menu ul li a.active {
        background: rgba(0, 0, 0, 0.3);
        color: #fff;
        width: 100%;
        border-radius: 0 0 10px 10px;
    }

    .menu ul li:hover a {
        opacity: 1;
        background: rgba(0, 0, 0, 0.3);
        color: #fff;
        width: 100%;
        border-radius: 0 0 10px 10px;
    }

    .order {
        margin: 20px auto;
        padding: 0 10px;
        width: 80%;
    }

    .order h3 {
        font-size: 20px;
        margin-bottom: 35px;
        text-align: center;
    }

    .order_list p {
        margin-top: 20px;
        color: #666;
        font-size: 13px;
    }

    .order_list a {
        background: #AD74CE;
        padding: 10px 50px;
        border-radius: 10px;
        display: inline-block;
        margin: 20px auto;
        color: #fff;
        transition: .5s;
        font-size: 13px;
    }
}



@media (min-width:481px) and (max-width:768px) {
    .member {
        display: block;
    }

    main {
        margin: 0 auto;
        width: 100%;
    }

    .menu {
        display: block;
        background: none;
        padding: 0;
        text-align: left;
        width: 100%;
    }

    .menu h2 {
        font-size: 15px;
        margin-bottom: 10px;
        padding-right: 0px;
        display: none;
    }

    .menu ul {
        background: #ededed;
        display: flex;
        justify-content: space-around;
        border-radius: 0 0 10px 10px;
    }

    .menu ul li {}

    .menu ul li a {
        display: block;
        font-size: 15px;
        padding: 20px 90px;
        position: relative;
        color: #666;
        transition: .7s;
    }

    .menu ul li a.active {
        background: rgba(0, 0, 0, 0.3);
        color: #fff;
        width: 100%;
        border-radius: 0 0 10px 10px;
    }

    .menu ul li:hover a {
        opacity: 1;
        background: rgba(0, 0, 0, 0.3);
        color: #fff;
        width: 100%;
        border-radius: 0 0 10px 10px;
    }

    .order {
        margin: 20px auto;
        padding: 0 20px;
        width: 80%;
    }

    .order h3 {
        font-size: 20px;
        margin-bottom: 35px;
        text-align: center;
    }

    .order_list p {
        margin-top: 20px;
        color: #666;
        font-size: 15px;
    }

    .order_list a {
        background: #AD74CE;
        padding: 10px 50px;
        border-radius: 10px;
        display: inline-block;
        margin: 30px auto;
        color: #fff;
        transition: .5s;
        font-size: 15px;
    }
}


@media (min-width:769px) and (max-width:1024px) {
    main {
        margin: 0 auto;
        width: 100%;
    }

    .menu {
        background: #ededed;
        padding: 20px 0px;
        text-align: right;
        width: 20%;
    }

    .menu h2 {
        font-size: 20px;
        margin-bottom: 30px;
        padding-right: 10px;
    }

    .menu ul li a {
        display: block;
        font-size: 15px;
        padding: 15px 10px;
        position: relative;
        color: #666;
        transition: .7s;
    }

    .order {
        margin: 20px auto;
        padding: 0 20px;
        width: 80%;
    }

    .order h3 {
        font-size: 20px;
        margin-bottom: 35px;
        text-align: center;
    }

    .order_list p {
        margin-top: 60px;
        color: #666;
        font-size: 18px;
    }

    .order_list a {
        background: #AD74CE;
        padding: 10px 50px;
        border-radius: 10px;
        display: inline-block;
        margin: 30px auto;
        color: #fff;
        transition: .5s;
        font-size: 15px;
    }
}
