@import url(common_ys.css);

main {}


.pay_ok {
    width: 1080px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.pay_content {
    text-align: center;
    border-bottom: 5px double #ededed;
    margin-bottom: 55px;
}

.pay_content h2 {
    font-size: 20px;
    margin: 30px auto;
}

.pay_content a {
    text-decoration: none;
    color: #fff;
    background: #AD74CE;
    display: inline-block;
    padding: 7px 36px;
    border-radius: 10px;
    margin-bottom: 55px;
    transition: .5s;
}
.pay_content a:hover{
    background: #8953A8;
}


/*주문자 정보*/
.pay_order_info {
    border-bottom: 1px solid #ededed;
    margin-bottom: 40px;
}

.pay_order_info h3 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 25px;
}

.pay_order_info ul {
    text-align: center;
    margin-bottom: 40px
}

.pay_order_info ul li {}

.pay_order_info ul li span {
    display: inline-block;
    width: 100px;
    margin: 5px;
    font-size: 15px;
    text-align: right;
}

.pay_order_info ul li span:nth-of-type(2) {
    text-align: left;
    margin-left: 150px;
}



/*결제정보*/
.pay_info {
    border-bottom: 5px double #ededed;
}

.pay_info h4 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 25px;
}

.pay_info ul {
    text-align: center;
    margin-bottom: 40px
}

.pay_info ul li {}

.pay_info ul li span {
    display: inline-block;
    width: 100px;
    margin: 5px;
    font-size: 15px;
    text-align: right;
}

.pay_info ul li span:nth-of-type(2) {
    text-align: left;
    margin-left: 150px;
}






@media (max-width:480px) {
    main {
        width: 100%;
    }

    /*        주문 완료        */
    .pay_ok {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .pay_content {
        text-align: center;
        border-bottom: 3px double #ededed;
        margin-bottom: 30px;
    }

    .pay_content h2 {
        font-size: 15px;
        margin: 15px auto;
    }

    .pay_content a {
        text-decoration: none;
        color: #fff;
        background: #AD74CE;
        display: inline-block;
        padding: 7px 36px;
        border-radius: 10px;
        margin-bottom: 30px;
        font-size: 13px;
    }

    /*주문자 정보*/
    .pay_order_info {
        border-bottom: 1px solid #ededed;
        margin-bottom: 30px;
    }

    .pay_order_info h3 {
        text-align: center;
        font-size: 15px;
        margin-bottom: 20px;
    }

    .pay_order_info ul {
        text-align: center;
        margin-bottom: 30px
    }

    .pay_order_info ul li {}

    .pay_order_info ul li span {
        display: inline-block;
        width: 100px;
        margin: 5px;
        font-size: 13px;
        text-align: right;
    }

    .pay_order_info ul li span:nth-of-type(2) {
        text-align: left;
        margin-left: 150px;
    }

    /*결제정보*/
    .pay_info {
        border-bottom: 3px double #ededed;
    }

    .pay_info h4 {
        text-align: center;
        font-size: 15px;
        margin-bottom: 20px;
    }

    .pay_info ul {
        text-align: center;
        margin-bottom: 30px
    }

    .pay_info ul li {}

    .pay_info ul li span {
        display: inline-block;
        width: 100px;
        margin: 5px;
        font-size: 13px;
        text-align: right;
    }

    .pay_info ul li span:nth-of-type(2) {
        text-align: left;
        margin-left: 150px;
    }
}




@media (min-width:481px) and (max-width:768px) {
    main {
        width: 100%;
    }

    /*        주문 완료        */
    .pay_ok {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .pay_content {
        text-align: center;
        border-bottom: 4px double #ededed;
        margin-bottom: 40px;
    }

    .pay_content h2 {
        font-size: 18px;
        margin: 20px auto;
    }

    .pay_content a {
        text-decoration: none;
        color: #fff;
        background: #AD74CE;
        display: inline-block;
        padding: 7px 36px;
        border-radius: 10px;
        margin-bottom: 30px;
        font-size: 15px;
    }

    /*주문자 정보*/
    .pay_order_info {
        border-bottom: 1px solid #ededed;
        margin-bottom: 40px;
    }

    .pay_order_info h3 {
        text-align: center;
        font-size: 18px;
        margin-bottom: 22px;
    }

    .pay_order_info ul {
        text-align: center;
        margin-bottom: 40px
    }

    .pay_order_info ul li {}

    .pay_order_info ul li span {
        display: inline-block;
        width: 100px;
        margin: 5px;
        font-size: 15px;
        text-align: right;
    }

    .pay_order_info ul li span:nth-of-type(2) {
        text-align: left;
        margin-left: 150px;
    }

    /*결제정보*/
    .pay_info {
        border-bottom: 4px double #ededed;
    }

    .pay_info h4 {
        text-align: center;
        font-size: 18px;
        margin-bottom: 22px;
    }

    .pay_info ul {
        text-align: center;
        margin-bottom: 40px
    }

    .pay_info ul li {}

    .pay_info ul li span {
        display: inline-block;
        width: 100px;
        margin: 5px;
        font-size: 15px;
        text-align: right;
    }

    .pay_info ul li span:nth-of-type(2) {
        text-align: left;
        margin-left: 150px;
    }
}


@media (min-width:769px) and (max-width:1024px) {
    main {
        width: 100%;
    }

    /*        주문 완료        */
    .pay_ok {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 70px;
    }

    .pay_content {
        text-align: center;
        border-bottom: 5px double #ededed;
        margin-bottom: 40px;
    }

    .pay_content h2 {
        font-size: 20px;
        margin: 25px auto;
    }

    .pay_content a {
        text-decoration: none;
        color: #fff;
        background: #AD74CE;
        display: inline-block;
        padding: 7px 36px;
        border-radius: 10px;
        margin-bottom: 30px;
        font-size: 15px;
    }

    /*주문자 정보*/
    .pay_order_info {
        border-bottom: 1px solid #ededed;
        margin-bottom: 40px;
    }

    .pay_order_info h3 {
        text-align: center;
        font-size: 20px;
        margin-bottom: 25px;
    }

    .pay_order_info ul {
        text-align: center;
        margin-bottom: 40px
    }

    .pay_order_info ul li {}

    .pay_order_info ul li span {
        display: inline-block;
        width: 100px;
        margin: 5px;
        font-size: 15px;
        text-align: right;
    }

    .pay_order_info ul li span:nth-of-type(2) {
        text-align: left;
        margin-left: 150px;
    }

    /*결제정보*/
    .pay_info {
        border-bottom: 5px double #ededed;
    }

    .pay_info h4 {
        text-align: center;
        font-size: 18px;
        margin-bottom: 22px;
    }

    .pay_info ul {
        text-align: center;
        margin-bottom: 40px
    }

    .pay_info ul li {}

    .pay_info ul li span {
        display: inline-block;
        width: 100px;
        margin: 5px;
        font-size: 15px;
        text-align: right;
    }

    .pay_info ul li span:nth-of-type(2) {
        text-align: left;
        margin-left: 150px;
    }
}