@import url(common_ys.css);

main {
    margin: 0 auto;
    width: 1080px;
}


.qna_write {
    margin: 0 auto;
    padding: 0 50px;
    width:90%;
    height:100%;
}

.qna_write h2 {
    font-size: 25px;
    padding-top:40px;
    padding-bottom: 30px;
    text-align: center;
    border-bottom:5px double #ededed;
}
.qna_write > p{
    text-align: center;
    font-size:18px;
    margin:40px;
}
.qna_write > p input{}
.qna_write > p span{
    color:#f00;
}

.content {
    padding-top:40px;
    display:flex;
    justify-content: space-around;
    border-bottom:5px double #ededed;
    padding-bottom:30px;
}

.m_info{
    width:48%;
}
.m_info > p{
    margin-bottom:35px;
}
.m_info form{}
.m_info form ul{}
.m_info form ul li{
    padding:7px 0;
}
.m_info form ul li label{
    font-size:15px;
    width:100px;
    text-align: right;
    display:inline-block;
    padding-left:15px;
}
.m_info form ul li input{
    background: #ededed;
    width: 65%;
    outline-style: none;
    border: none;
    font-size: 15px;
    padding: 15px 20px;
    border-radius: 10px;
}



/*문의내용*/
.data{
    width:48%;
}
.data > p{
    margin-bottom:35px;
    
}
.data form{}
.data form ul{}
.data form ul li{
    padding:7px 0;
}
.data form ul li label{
    font-size:15px;
    width:100px;
    text-align: right;
    display:inline-block;
    padding-left:15px;
}
.data form ul li input{
    background: #ededed;
    width: 70%;
    outline-style: none;
    border: none;
    font-size: 15px;
    padding: 15px 20px;
    border-radius: 10px;
}
.data form ul li textarea{
    background:#ededed;
    outline-style: none;
    border:none;
    border-radius: 10px;
    width:70%;
}

.data form ul li:nth-of-type(3) input{
background:none;
}
.data form ul li p{
    font-size:15px;
    margin-bottom: 5px;
    margin-left:110px;
}
.data form ul li > *{vertical-align: middle;}

.qna_write p a{
    padding:10px 60px;
    background:#ededed;
    border-radius: 10px;
    transition: .5s;
}
.qna_write p a:nth-of-type(2){
    background:#ad74ce;
    color:#fff;
}
.qna_write p a:nth-of-type(1):hover{
    background:rgba(0,0,0,0.3);
}
.qna_write p a:nth-of-type(2):hover{
    background:#8953A8;
}
