@import url('/css/common_ys.css');

main {
    margin: 0 auto;
    width: 1080px;
    height: 700px;
}


.qna {s
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
}

.qna h2 {
    font-size: 25px;
    padding: 40px 0;
    text-align: center;
}

.content {
    text-align: center;
}

.content p {
    margin-top: 100px;
    color: #666;
    font-size: 18px;
}

.content a {
    background: #AD74CE;
    padding: 10px 70px;
    border-radius: 10px;
    display: inline-block;
    margin: 40px auto;
    color: #fff;
    transition: .5s;
}

.content a:hover {
    background: #8953A8;
}


@media (max-width:480px) {
    main {
        margin: 0 auto;
        width: 100%;
    }

    .qna {
        margin: 0 auto;
        padding: 0 10px;
        width: 100%;
        height: 100%;
    }

    .qna h2 {
        font-size: 20px;
        padding: 20px;
        text-align: center;
    }

    .content p {
        margin-top: 20px;
        color: #666;
        font-size: 13px;
    }

    .content a {
        background: #AD74CE;
        padding: 10px 50px;
        border-radius: 10px;
        display: inline-block;
        margin: 20px auto;
        color: #fff;
        transition: .5s;
        font-size: 13px;
    }
}



@media (min-width:481px) and (max-width:768px) {
    main {
        margin: 0 auto;
        width: 100%;
    }

    .qna {
        margin: 0 auto;
        padding: 0 10px;
        width: 100%;
        height: 100%;
    }

    .qna h2 {
        font-size: 30px;
        padding: 20px;
        text-align: center;
    }

    .content p {
        margin-top: 20px;
        color: #666;
        font-size: 15px;
    }

    .content a {
        background: #AD74CE;
        padding: 10px 50px;
        border-radius: 10px;
        display: inline-block;
        margin: 30px auto;
        color: #fff;
        transition: .5s;
        font-size: 15px;
    }
}
