@import url('common_ys.css');

/**********배너**********/
.banner {
    width: 100%;
    height: 150px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.banner h2 {
    font-size:40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #333;
}

.banner img {
    width: 100%;
}


/**********본문 예약하기**********/
.re {
    width: 1080px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:40px auto;
}

.tab {}

.tab-head {}

.tab-body a {
    display: inline-block;
    margin:5px;
}

.tab-body a.active {
    background: white;
    color: #fff;
}

.tab-body a img {
    width: 120px;
}

.tab .tab-head {
    position: relative;
    height: 400px;
}

.tab-head div {
    width: 400px;
    height: 400px;
    border: 1px solid #00f;
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
            display: none;
}

.tab-head div.active {
    display: block;
}

.sel{}
.sel ul{}
.sel ul li{
    margin:15px 0;
    font-size:15px;
}
.sel ul li label{
    display: inline-block;
    width:150px;
    text-align: right;
    white-space: pre-line;
    margin-right: 20px;
    line-height: 1;
}
.sel ul li label span{
    font-size:12px;
}
.sel ul li > *{vertical-align: middle;}
.sel ul li:nth-of-type(1) input{
    background:#ededed;
    border:none;
    border-radius: 10px;
    outline-style: none;
    padding:12px;
    font-size:15px;
    color:#666;
    width:60%;
}
.sel ul li textarea{
    border:none;
    background:#ededed;
    border-radius: 10px;
    outline-style: none;
    padding:12px;
    font-size:12px;
    
}
.sel ul li > span{
    display: inline-block;
    width:100px;
    margin:0 5px;
    text-align: right;
    width:150px;
}
.sel ul li > span:nth-of-type(1){
    margin-right:30%;
}
.sel ul li:nth-of-type(11) > span{
    font-size:20px;
}

.but{
    text-align: center;
}
.button a {
    display: inline-block;
    padding: 10px 85px;
    font-size: 15px;
    transition:.5s;
}

.button a:nth-of-type(1) {
    color: #333333;
    background: #ededed;
    border-radius: 10px;
}

.button a:nth-of-type(2) {
    color: #fff;
    background: #ad74ce;
    border-radius: 10px;
}
.button a:nth-of-type(1):hover {
    background: rgba(0,0,0,0.3);
}
.button a:nth-of-type(2):hover {
    background: #8953a8;
}




/**********상세설명**********/
.list {
    width: 1080px;
    margin: 0 auto;
    text-align: center;
}

.list p {
    background: #fcfbe3;
    border-radius: 10px;
    color: #333333;
    font-size: 20px;
    padding: 12px 0;
}

.list img {
    width: 100%;
    margin: 5% auto;
    border-radius: 10px;
}



