@import url('common_ys.css');

/**********배너**********/
.banner {
    margin: 0 auto;
    text-align: center;
}

.banner p {
    background: white;
    margin: 55px 0 40px 0;
    font-size: 25px;
    color: #333333;
}


/**********글 내용**********/
.table {
    width: 1080px;
    margin: 0 auto;
}

.table table {
    width: 100%;
    border-spacing: 0;
    border-bottom: double;
    border-color: #ededed;
    margin-bottom: 30px;
}

/*제목라인*/
.table thead {}

.table thead th {
    background: #ededed;
    font-size: 15px;
    padding: 12px;
    color: #333;
}

.table thead th:nth-of-type(2) {
    width: 10%;
}

.table thead th:nth-of-type(3) {
    width: 10%;
}

.table thead th:nth-of-type(4) {
    width: 10%;
}

/*후기내용*/
.table tbody {
    width: 100%;
    font-size: 15px;
}


.table tbody tr {}

.table tbody tr td {
    text-align: center;
    padding: 12px;
    border-bottom: 1px solid #ededed;
}

.table tbody tr td:nth-of-type(1) {
    text-align: left;
}

.table tbody tr:nth-of-type(2) td {
    display: none;
}



.table tbody tr:nth-of-type(3) td {
    font-size: 15px;
    color: #333;
    text-align: left;
    line-height: 2;
    white-space: pre-line;
    padding: 20px 40px;
}


/**********글쓰기 버튼**********/
.button {
    text-align: center;
    margin: 0 auto;
}

.button a {
    display: inline-block;
    padding: 10px 60px;
    font-size: 15px;
    transition:.5s;
}

.button a:nth-of-type(1) {
    color: #333333;
    background: #ededed;
    border-radius: 10px;
}

.button a:nth-of-type(2) {
    color: #fff;
    background: #ad74ce;
    border-radius: 10px;
}
.button a:nth-of-type(1):hover {
    background: rgba(0,0,0,0.3);
}
.button a:nth-of-type(2):hover {
    background: #8953a8;
}

/**********후기댓글**********/
.table2 {
    width: 1080px;
    margin: 50px auto;
}

.table2 table {
    width: 100%;
    border-spacing: 0;
    border-bottom: double;
    border-color:#ededed;
}


/*제목라인*/
.table2 thead {}

.table2 thead th{
    background:#ededed;
    font-size:15px;
    padding:12px;
    color:#333;
}

/*후기내용*/
.table2 tbody {
    width: 100%;
    font-size: 15px;
}

.table2 tbody tr {}

.table2 tbody tr td{
    text-align: center;
    font-size:15px;
    padding:12px;
}
.table2 tbody tr:nth-of-type(1) td{
    border-bottom: 1px solid #ededed;
}

.table2 tbody tr:nth-of-type(2) td{
    white-space: pre-line;
    line-height: 2;
    padding:20px 40px;
}

.table2 tbody tr td:nth-of-type(1) {
    text-align: left;
}


