@import url('/css/common_ys.css');


/**********배너**********/
.banner {
    background: url('../img/2-1.jpg') no-repeat #DABFAE;
    width: ;
    height: 150px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner h2 {
    font-size: 40px;
    color: #333;
}


/**********본문 일반후기**********/
.normal {
    width: 1080px;
    margin: 0 auto;
}

.list2 {}

.list2 h2 {
    text-align: center;
    font-size: 25px;
    margin: 40px 0 25px 0;
}

.list2 ul {}

.list2 ul li {}

.list2 ul li figure {
    margin-bottom: 40px;
    padding: 0 5px;
}

.list2 ul li figure img {
    width: 100%;
    height: 15vw;
    transition: .5s;
}

.list2 ul li figure p {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.list2 ul li figure p span {}



.list2 ul li figure img:hover {
    filter: grayscale(105%);
}

/**********글쓰기 버튼**********/
.button {
    text-align: right;
    margin-bottom: 40px;
}

.button a {
    background: #ad74ce;
    padding: 10px 60px;
    display: inline-block;
    border-radius: 10px;
    color: #fff;
    transition: .5s;
}

.button a:hover {
    background: #8953a8;
}


/**********페이지 버튼**********/
.paging {
    text-align: center;
    margin: 50px 0;
}

.paging a {
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-size: 15px;
    padding: 0 10px;
    transition: .5s;
}

.paging a:hover,
.paging a.active {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 100%;
    color: #fff;
}




@media (max-width:480px) {

    .banner {
        background: #DABFAE;
        width: 100%;
        height: 60px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .banner h2 {
        font-size: 20px;
        color: #333;
    }

    .normal {
        width: 100%;
        margin: 0 auto;
    }

    .list2 h2 {
        text-align: left;
        font-size: 18px;
        margin: 40px 0 10px 10px;
    }

    .list2 ul li figure {
        margin-bottom: 40px;
        padding: 0 2px;
    }

    .list2 ul li figure img {
        width: 100%;
        height: 35vw;
        transition: .5s;
    }


    .list2 ul li figure p {
        display: flex;
        justify-content: space-between;
        margin: 0px;
        font-size: 10px;
    }

    .button {
        text-align: center;
        margin-bottom: 30px;
    }

    .button a {
        font-size: 13px;
        background: #ad74ce;
        padding: 10px 40px;
        display: inline-block;
        border-radius: 10px;
        color: #fff;
        transition: .5s;
    }


    /**********페이지 버튼**********/
    .paging {
        text-align: center;
        margin: 40px 0;
    }

    .paging a {
        display: inline-block;
        text-decoration: none;
        color: #333;
        font-size: 12px;
        padding: 0 5px;
        margin: 0 5px;
    }
}



@media (min-width:481px) and (max-width:768px) {
    .banner {
        background: #DABFAE;
        width: 100%;
        height: 60px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .banner h2 {
        font-size: 30px;
        color: #333;
    }


    .normal {
        width: 100%;
        margin: 0 auto;
    }

    .list2 h2 {
        text-align: left;
        font-size: 22px;
        margin: 40px 0 10px 10px;
    }


    /**********글쓰기 버튼**********/

    .button {
        text-align: right;
        margin-bottom: 40px;
        margin-right: 20px;
    }

    .button a {
        background: #ad74ce;
        padding: 10px 60px;
        display: inline-block;
        border-radius: 10px;
        color: #fff;
        transition: .5s;
        font-size: 15px;
    }

    /**********페이지 버튼**********/

    .paging {
        text-align: center;
        margin: 40px 0;
    }

    .paging a {
        display: inline-block;
        text-decoration: none;
        color: #333;
        font-size: 15px;
        padding: 0 10px;
        transition: .5s;
    }

}


@media (min-width:769px) and (max-width:1024px) {

    /**********본문 일반후기**********/
    .normal {
        width: 100%;
        margin: 0 auto;
        padding: 10px;
    }
}
