@import url('common_ys.css');


/*===================================*/



.banner {
    width: 100%;
    height: 150px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.banner h2 {
    font-size:40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #333;
}

.banner img {
    width: 100%;
}



/*=========================================*/


main {
    margin:0 auto;
}

/*    map    */
.map {
    margin: 40px auto;
    text-align: center;
    width: 100%;
}


/*    road    */
.road{
    margin:0 auto;
    width:1080px;
    display:flex;
    justify-content: center;
    margin-bottom: 70px;
}

.add{
    margin:0 30px;
}
.add li{
    margin:10px 0;
    font-size:15px;
}
.add li:nth-of-type(1),
.add li:nth-of-type(3){
    font-size:20px;
}
.add li:nth-of-type(1) span {
    background:url('../img/icon_add.png') 0 no-repeat;
    padding:12px;
    margin-right:5px;
}
.add li:nth-of-type(3) span{
    background:url('../img/icon_phone.png') 0 no-repeat;
    padding:12px;
    margin-right: 5px;
}

.subway{    
    margin:0 30px;
}
.subway li{
    margin:10px 0;
    font-size:15px;
}
.subway li:nth-of-type(1){
    font-size:20px;
    background: url('../img/icon_subway.png') 5px no-repeat;
}
.subway li span{
    width:100px;
    text-align: right;
    display: inline-block
}
.subway li span:nth-of-type(2){
    text-align: left;
    margin-left: 20px;
}

.bus{
        margin:0 30px;

}
.bus li{
    font-size:15px;
    margin:10px 0;
}
.bus span{
    white-space: pre-line;
    display: inline-block;
    vertical-align: top;
    width:140px;
    text-align: right;
}
.bus li:nth-of-type(1){
    font-size:20px;
    background: url('../img/icon_bus.png')
29px no-repeat;
}
.bus li span:nth-of-type(2){
    text-align: left;
    margin-left: 20px;
}



/*

.mmm {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    white-space: pre-line;
}

.mmm img {
    width: 50px;
    height: 50px;
    display: flex;
}

.mmm th {
    font-size: 25px;
    text-align: left;
    padding-bottom: 20px;
}

.mmm td {
    font-size: 20px;
    padding: 10px;
}


.m2 tr td:nth-of-type(1) {
    position: relative;
    text-align: left;
}

.m2 tr td:nth-of-type(1):after {
    content: '';
    height: 20px;
    width: 2px;
    background: #333;
    position: absolute;
    right: 0;
    top: 30%;
}

.m3 tr td:nth-of-type(1) {
    position: relative;
    text-align: left;
}

.m3 tr td:nth-of-type(1):after {
    content: '';
    height: 20px;
    width: 2px;
    background: #333;
    position: absolute;
    right: 0;
    top: 30%;
}

=============================
.m1 {
    width: 30%;
    padding: 10px 0 0 20px;
}


.m2 {
    width: 50%;
    padding: 10px 0 0 20px;
    height: 100%;

}

.m3 {
    width: 50%;
    padding: 10px 0 0 20px;
    height: 100%;
}
*/

