@import url('/css/common_ys.css');

/**********배너**********/
.banner {
    margin: 0 auto;
    text-align: center;
}

.banner p {
    background: white;
    margin: 55px 0 40px 0;
    font-size: 25px;
    color: #333333;
}

/**********글 내용**********/
.table {
    width: 1080px;
    margin: 0 auto;
}

.table table {
    width: 100%;
    border-spacing: 0;
    border-bottom: double;
    border-color: #ededed;
}

/*제목라인*/
.table thead {}

.table thead th {
    background: #ededed;
    font-size: 15px;
    padding: 12px;
    color: #333;
    text-align: center;
}

/*내용*/
.table table tr {}

.table table tr td {}

.table table tr:nth-of-type(1) td {
    padding: 12px;
    border-bottom: 1px solid #ededed;
    margin-bottom: 20px;
}

.table table tr:nth-of-type(3) td {
    padding: 12px;
}

.table table tr:nth-of-type(2) td {
    border-bottom: 1px solid #ededed;
}

.table table tr:nth-of-type(1) td input {
    outline-style: none;
    padding: 12px;
    width: 100%;
    border: none;
}

.table table tr td textarea {
    background: #ededed;
    outline-style: none;
    border: none;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0px;
}

.table table tr td label {
    font-size: 15px;
    display: inline-block;
    padding-left: 15px;
}


/**********완료 버튼**********/
.button {
    text-align: center;
    margin: 40px auto;
    margin-bottom: 70px;
}

.button a {
    display: inline-block;
    padding: 10px 60px;
    font-size: 15px;
    transition: .5s;
}

.button a:nth-of-type(1) {
    color: #333333;
    background: #ededed;
    border-radius: 10px;
}

.button a:nth-of-type(2) {
    color: #fff;
    background: #ad74ce;
    border-radius: 10px;
}

.button a:nth-of-type(1):hover {
    background: rgba(0, 0, 0, 0.3);
}

.button a:nth-of-type(2):hover {
    background: #8953a8;
}


@media (max-width:480px) {

    /**********배너**********/
    .banner {
        margin: 0 auto;
        text-align: center;
    }

    .banner p {
        margin: 30px 0 10px 0;
        font-size: 20px;
        color: #333333;
    }

    /**********글 내용**********/
    .table {
        width: 100%;
        margin: 0 auto;
    }

    .table table {
        width: 100%;
        border-spacing: 0;
        border-bottom: double;
        border-color: #ededed;
        padding: 10px;
    }

    /*제목라인*/

    .table thead th {
        background: #ededed;
        font-size: 13px;
        padding: 7px;
        color: #333;
        text-align: center;
    }

    .table table tr:nth-of-type(1) td {
        padding: 7px;
        border-bottom: 1px solid #ededed;
        margin-bottom: 20px;
    }

    .table table tr:nth-of-type(3) td {
        padding: 7px;
    }

    .table table tr:nth-of-type(2) td {
        border-bottom: 1px solid #ededed;
    }

    .table table tr:nth-of-type(1) td input {
        outline-style: none;
        padding: 7px;
        width: 100%;
        border: none;
    }

    .table table tr td textarea {
        background: #ededed;
        outline-style: none;
        border: none;
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        margin: 20px 0px;
    }

    .table table tr td label {
        font-size: 13px;
        display: inline-block;
        padding-left: 5px;
    }

    .button a {
        display: inline-block;
        padding: 10px 45px;
        font-size: 13px;
        transition: .5s;
    }

}



@media (min-width:481px) and (max-width:768px) {

    /**********배너**********/
    .banner {
        margin: 0 auto;
        text-align: center;
    }

    .banner p {
        margin: 30px 0 20px 0;
        font-size: 30px;
        color: #333333;
    }


    /**********글 내용**********/
    .table {
        width: 100%;
        margin: 0 auto;
    }

    .table table {
        width: 100%;
        border-spacing: 0;
        border-bottom: double;
        border-color: #ededed;
        padding: 10px;
    }
}





@media (min-width:769px) and (max-width:1024px) {

    /**********글 내용**********/
    .table {
        width: 100%;
        margin: 0 auto;
    }

    .table table {
        width: 100%;
        border-spacing: 0;
        border-bottom: double;
        border-color: #ededed;
        padding: 10px;
    }
}
